@font-face {
    font-family: STSong;
    src: url(../fonts/chinese.stsong.ttf);
}
@font-face {
    font-family: Andrade Pro Italic;
    src: url(../fonts/Andrade\ Pro\ Italic.otf);
}


:root{
    --accent-color: hsl(359, 67%, 24%);
    --accent-color-hover: #676875;
    --accent-color-hover-add:#1a0a25;

    --primary-text-color-theme-light: #000501;
    --primary-text-color-theme-dark:#FBFBFB;;
    --secondary-text-color-theme-light: #671415;

    --secondary-text-color-theme-dark: #e7e9fc;
     


    --background-color-body-theme-light: #F7F6F3;
    --background-color-body-theme-light-secondary: #FFFEFB;   
    --background-color-body-theme-light-third: #C2CBC6;  

    --background-color-body-theme-dark:#2E2F42;

    --additiomal-color: #F4F4FD;
    --additiomal-color-decor:#6D6064;
    --add-color-three:#837569;

    --timing-function: 500ms cubic-bezier(0.4, 0, 0.2, 1)
    
}
body{
    font-family: 'Montserat', sans-serif;
    color: var(--primary-text-color-theme-light);
    background-color: var(--background-color-body-theme-light);
    position: relative;
}

h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}
ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
    color: none;
}

.container{
    width: 375px;
    padding-inline: 32px;
    margin: 0 auto;   
}
@media screen and (min-width: 768px) {  
    .container {
      width: 768px;
      padding-inline: 50px;
    }
  }
  @media screen and (min-width: 1284px) {
  .container {
    width: 1284px;

  }
}

.section{
  
}
.padding-top-bottom{
    padding-top: 70px;
    padding-bottom: 70px;
}

@media screen and (min-width: 768px) {  
    .padding-top-bottom{
        padding-top: 100px;
        padding-bottom: 100px;
    }
  }
  @media screen and (min-width: 1284px) {
    .padding-top-bottom{
        padding-top: 170px;
        padding-bottom: 170px;
    }
}


.title{
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media screen and (min-width: 768px) {  
    .title{
        margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 1284px) {
    .title{
        margin-bottom: 45px;
    }
}

.title.title-accent{
    font-family: 'Vivaldi';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.05;
    color: var(--secondary-text-color-theme-light);
}
@media screen and (min-width: 768px) {  
    .title.title-accen{
        font-size: 50px;
    }
  }
  @media screen and (min-width: 1284px) {
    .title.title-accen{
        font-size: 60px;
    }
}

.subtitle{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.22;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
    text-align: center;
}
@media screen and (min-width: 768px) {  
    .subtitle{
        font-size: 17px; 
        margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 1284px) {
    .subtitle{     
        font-size: 18px;  
        margin-bottom: 17px;
        text-align: left;
    }
}

.text-body{
    font-weight: 400;
    font-size: 17px;
    line-height: 1.24;
    color: var(--primary-text-color-theme-light);
}


/*hero-mobile*/
.hero{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #2E2F42;
    /* padding-top: 50px;
    padding-bottom: 50px;     */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 767px) {
    .hero {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0)
        ),
        url('../images-en/hero-mobile-min.png');
    }
  
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
          ),
          url('../images-en/hero-mobile@2x-min.png');
      }
    }
}

/*hero-tablet*/
@media screen and (min-width: 768px) {  
    .hero{
        /* padding-top: 70px;
        padding-bottom: 70px; */
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
          ),
          url('../images-en/hero-tablet-min.png');
      }
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box1 {
        background-image: linear-gradient(
            180deg, 
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
          ),
          url('../images-en/hero-tablet@2x-min.png');
      }
    }
  }
  /*hero-desktop*/
  @media screen and (min-width: 1284px) {
    .hero{     
        /* padding-top: 112px;
        padding-bottom: 112px; */
        background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),  url("../images-en/hero-img-1-min.png");
    }
}

.hero-content{

}





.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25); 
    position: fixed; 
    z-index: 100;     
}

.header-container{
    display: flex;
    align-items: center;
    padding-top: 0;
    justify-content: space-between;
    padding-bottom: 5px;   
}
@media screen and (min-width: 768px) {  
    .header-container{
        padding-bottom: 10px;   
   }
  }
  @media screen and (min-width: 1284px) {
    .header-container{
         padding-bottom: 27px;   
    }
}
.navigation-header{
    align-self: start;
    display: flex;
    align-items: center;
    margin-right: auto;
   margin-left: 0;  
}


.logo{
    
}

.menu{
    display: flex;
    margin-left: 56px;
    gap: 35px; 
    flex-grow: 1;
    margin-top: 27px;
}
@media screen and (max-width: 1283px) {  
    .menu{
        display: none;
    }
  }

.menu-link-header{
    color: var(--primary-text-color-theme-dark);
    text-decoration: none;
    
}

.menu-link-header:hover,
.menu-link-header:focus{  
    color: var(--secondary-text-color-theme-dark);
    
}

.language-select{
    display: flex;
    gap: 14px; 
    /* border: none;
    border-radius: 2px; */
    cursor: pointer;  
    transition: color var(--timing-function);
    margin-top: 27px;
}
@media screen and (max-width: 1283px) {  
    .language-select{
        display: none;
    }
  }

.language-en{
    text-decoration: none;
    color: var(--primary-text-color-theme-dark);
}
.language-en::after{
    content: "";
    position: relative;
    left: 0;
    bottom: -2px; 
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary-text-color-theme-dark);        
}
    
.language-pl{
    text-decoration: none;
    color: rgba(251, 251, 251, 0.7);
}
.language-pl:hover{    
    color: var(--secondary-text-color-theme-dark);   
}

.language-pl::after{
    content: "";
    position: relative;
    left: 0;
    bottom: -2px; 
    display: block;
    width: 100%;
    height: 2px;    
    opacity: 0;
}
.language-pl:hover::after{
    background-color: var(--secondary-text-color-theme-dark);  
    opacity: 1;
}

.btn-call{
    margin-left: 49px;
    margin-right: 49px;
    padding: 12px 23px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    margin-top: 27px;
}
@media screen and (max-width: 767px) {  
    .btn-call{
        display: none;
    }
  }

.heading-one{ 
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 0.98;
    color: var(--primary-text-color-theme-dark);
}
.heading-two{   
    font-family: 'Vivaldi';
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.32;
    color: var(--primary-text-color-theme-dark);

}
.hero-content{
    padding-top: 205px;
    padding-bottom: 72px;
}


@media screen and (min-width: 768px) {  
    .heading-one{      
        font-size: 50px;
     }
     .heading-two{    
        font-size: 60px;      
     }
     .hero-content{
        padding-top: 499px;
        padding-bottom: 188px;
    }
  }
  @media screen and (min-width: 1284px) {
    .heading-one{       
        font-size: 66px;
     }
     .heading-two{  
        font-size: 76px;      
     }
     .hero-content{
        padding-top: 260px;
        padding-bottom: 147px;
    }
}


.offer-hero{
    width: 280px;
    margin-top: 139px;
    margin-bottom: 85px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    color: var(--primary-text-color-theme-dark);
}
@media screen and (min-width: 768px) {  
    .offer-hero{
        width: 391px;
        margin-top: 274px; 
        font-size: 35px;
    }
}
  @media screen and (min-width: 1284px) {
    .offer-hero{
        width: 319px;
        margin-top: 91px; 
        font-size: 28px;
    }
}


.btn-offer-hero{   
    padding: 20px 80px;
    background: var(--accent-color);
    border: 2px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: var(--primary-text-color-theme-dark);
}

.btn-sign-up:hover,
.btn-sign-up:focus,
.btn-call:hover,
.btn-call:focus,
.btn-offer-hero:hover,
.btn-offer-hero:focus
{
    background-color:var(--accent-color-hover-add);
    border: 2px solid var(--additiomal-color)

}


.client-pain-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    position: relative;
}

@media screen and (min-width: 768px) {  
    .client-pain-container{
       
       

    }
}
@media screen and (min-width: 1284px) {
.client-pain-container{
   

    
    flex-direction: row;        
    justify-content: space-between;
    }
}


  

.client-pain-title{
    text-align: left;
}
@media screen and (min-width: 768px){
    .client-pain-title{
        text-align: center;
    }
}

.client-pain-one{
    margin-bottom: 70px;
}
@media screen and (max-width: 1283px) {  
    .client-pain-one{
        
       
    }
}
.client-pain-two{
    
}
@media screen and (max-width: 1283px) {  
    .client-pain-two{
       
    }
}

.client-pain-list{
    display: flex;
    flex-direction: column;  
    gap: 10px;
}
@media screen and (min-width: 768px) {  
    .client-pain-list{
        flex-direction: row;   
       

        
    }
}

@media screen and (min-width: 1284px){
    .client-pain-list{
        width: 355px;
        flex-direction: column;
    }

}


.client-pain-right{
    

}
@media screen and (min-width: 768px) {  
    .client-pain-right{
        
    
    }
}

.client-pain-big{
    width: 375px;
    height: 470px;
    margin-bottom: 135px;
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -2; 
}
@media screen and (min-width: 768px) {  
    .client-pain-big{
        width: 398px;
        height: 499px;
        margin-bottom: 135px;        
    }
}
@media screen and (max-width: 1283px){
    .client-pain-big{
        display: none;
    }
}
  @media screen and (min-width: 1284px) {
    .client-pain-big{
        width: 576px;
        height: 722px;
        margin-bottom: 135px;
        position: static;
      
    }
}

.client-pain-little{
    position: absolute;
    align-self:flex-start; 
    width: 375px;
    height: 494px;   
}

@media screen and (min-width: 768px) {  
    .client-pain-little{
        width: 247px;
        height: 326px;        
    }
}
@media screen and (max-width: 1283px){
    .client-pain-little{
        display: none;
    }
}
  @media screen and (min-width: 1284px) {
    .client-pain-little{
        position: absolute;
        align-self:flex-start;
        top: 50%;
        right: 460px;
        width: 317px;
        height: 419px;
        
    }
}




.invitation-container{
    background-image:linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.49)),  url("../images-en/invitation-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    
}
@media screen and (min-width: 768px) {  
    .invitation-container{
       
       

    }
}
@media screen and (min-width: 1284px) {
    .invitation-container{
   

    

    }
}




.title{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
 }
 @media screen and (min-width: 768px) {  
    .title{ 
        font-size: 35px;
    }
}
  @media screen and (min-width: 1284px) {
    .title{
        font-size: 40px;
    }
}


.title-invitation{
    font-size: 40px;
    line-height: 1.1;
    color: var(--primary-text-color-theme-dark);
    max-width: 265px;
    margin-top: 40px;
    margin-bottom: 70px;
}
@media screen and (min-width: 768px) {  
    .title-invitation{ 
        font-size: 50px;
        max-width: 700px;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
  @media screen and (min-width: 1284px) {
    .title-invitation{
        font-size: 60px;
        max-width: 865px;
        margin-top: 60px;
        margin-bottom: 123px;
    }
}
.button-play{
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 50px;
}
@media screen and (min-width: 768px) {  
    .button-play{ 
        margin-bottom: 100px;
    }
}
  @media screen and (min-width: 1284px) {
    .button-play{
        margin-bottom: 222px;
    }
}

.about-top{ 
    display: flex;  
    flex-direction: column;
    align-items: center;
   
}

@media screen and (min-width: 768px) {  
    .about-top{ 
    
        
    }
}
  @media screen and (min-width: 1284px) {

    .about-top{
    flex-direction: row;
       
        align-items: flex-end;
        
    }
}

.about-img{
    width: 311px;
    height: 390px;
}
@media screen and (min-width: 768px) {  
    .about-img{
        width: 504px;
        height: 632px;
    }
}
  @media screen and (min-width: 1284px) {
    .about-img{
        width: 576px;
        height: 722px;
    }
}


.about-right{
    position: relative;
    right: 0;
    bottom: 50%;   
    background: var(--background-color-body-theme-light-secondary); 
    padding: 30px;
    overflow: hidden;
}
@media screen and (min-width: 768px) {  
    .about-right{
        position: relative;
        right: 0;
        bottom: 50%;   
        background: var(--background-color-body-theme-light-secondary); 
        padding: 50px;
    }
}
  @media screen and (min-width: 1284px) {
    .about-right{
        position: relative;
        right: 10%;
        bottom: 0;   
        background: var(--background-color-body-theme-light-secondary); 
        padding-top: 94px;
    }
}
.about-title{
   text-align: center;
}
@media screen and (min-width: 768px) {  
    .about-title{
     
     }
}
  @media screen and (min-width: 1284px) {
    .about-title{
        text-align: left;
     }
}




.about-right-text,
.advantages-me-text{   

}
@media screen and (min-width: 768px) {  
    .about-right-text,
    .advantages-me-text{   
        width: 100%;


        flex-grow: 1;
    }
}
  @media screen and (min-width: 1284px) {
    .about-right-text,
    .advantages-me-text{   
     
        margin-left: 97px;
        margin-right: 97px;
        flex-grow: 1;
    }
}

.text-body-top{
    margin-bottom: 11px;
}
#more{
    display: none;
    


}
#btn{
    position: relative;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: var(--accent-color);
    margin-bottom: 13px;
}

#btn:hover .arrow-icon-more, 
#btn:focus .arrow-icon-more,
#btn:hover,
#btn:focus{
    color: var(--accent-color-hover-add);
    fill: var(--accent-color-hover-add);

}

#btn:hover::after,
#btn:focus::after{
    background-color: var(--accent-color-hover-add);
}



#btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:-10px; 
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    }   


.arrow-icon-more{
    fill: var(--accent-color);
}
.quote{   
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
    /* font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px; */
    text-align: center;
    width: 100%;
    margin: 50px auto 0;   
}

@media screen and (min-width: 768px) {  
    .quote{
        width: 100%;
        margin: 90px auto 0; 


    }
}
  @media screen and (min-width: 1284px) {
    .quote{
        width: 648px;
        margin: 150px auto 0;    

    }
}


.background,
.background-two{
    position: absolute;
    width: 100%;    
    z-index: -20;
    background-color: var(--background-color-body-theme-light-secondary);  
}
.background{
    top: 3360px;
    height: 9%;
}

.background-two{
    top: 7022px;
    height: 15%;

}


.offer {
    
}


.offer-wrap{
    position: relative;   
    border: 2px solid #CEC8B6;
               

    
}
.offer-wrap-two{
 
} 

.offer-container{
    

  
}

.offer-form-photo{
    position: relative;
   
    display: flex;    
    gap: 20px;
    align-items: center;
    padding: 10px;
}
@media screen and (min-width: 768px) {  
    .offer-form-photo{
        position: static;
        
       flex-direction: row;
        justify-content: space-between;
    
        padding: 29px 35px;
    }
}
  @media screen and (min-width: 1284px) {
    .offer-form-photo{
        

 
        padding: 29px 140px;
    }
}
.offer-img{
    width: 277px;
    height: 321px;
    position: absolute;
    top: 0; 
    right: 0;
    z-index: -1;
}

@media screen and (min-width: 768px) {  
    .offer-img{
        width: 277px;
        height: 321px; 
        position: static;   
    }
}
  @media screen and (min-width: 1284px) {
    .offer-img{
        width: 379px;
        height: 439px;    
    }
}


.offer-left{   

    width: 325px;
    
}
@media screen and (min-width: 768px) {  
    .offer-left{ 
       
        width: 290px;
    }
}
  @media screen and (min-width: 1284px) {
    .offer-left{   
        width: 325px;
    }
}

.offer-subtitle{    
    margin-bottom: 20px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
}
@media screen and (min-width: 768px) {  
    .offer-subtitle{    
        margin-bottom: 30px;
        font-size: 25px;

    }
}
  @media screen and (min-width: 1284px) {
    .offer-subtitle{    
        margin-bottom: 88px;
        font-size: 30px;
   
    }
}



.offer-label-wrap{
 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) {  
    .offer-label-wrap{
     
   
        margin-bottom: 60px;
    }
}
  @media screen and (min-width: 1284px) {
    .offer-label-wrap{
   

        margin-bottom: 68px;
    }
}



.offer-form{ 
       width: 276px;
}

.offer-input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #78756D;
    width: 100%;
    height: 40px;  
    border: none; 
    border-bottom: 1px solid var(--background-color-body-theme-dark); 
    background-color: transparent; 
    transition: border-color var(--timing-function);
    outline: none;
    padding: 0 16px;
 
}
.offer-input:focus{   
    border-bottom: 1 px solid var(--accent-colorr);
}

.offer-input::placeholder{
    font-size: 15px;   
    color: #78756D;
    margin-left: 10px;
    margin-right: 10px;
   
}

.offer-input-wrap{
    display: inline-block;
    width: 100%; 
}

.offer-input:not(:focus):not(:placeholder-shown):valid{
   
    border-color: green;
}
.offer-input:not(:focus):not(:placeholder-shown):invalid{

    border-color: red;

}


@media screen and (min-width: 768px) {  
    .text-offer-olia-liashevska{    
       display: none;
    }
}
  @media screen and (min-width: 1284px) {
    .text-offer-olia-liashevska{
        position: absolute;
        bottom: 99px;
        left: -18px;
        text-transform: uppercase; 
        transform: rotate(-90deg);
        font-family: 'Cinzel';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #CEC8B6;  
    }
}


.text-offer-discount{
    position: absolute;
    top: 45%;
    right: -96px;   
    text-transform: uppercase;
    transform: rotate(-90deg);
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.19em;
    color: #CEC8B6;
}
.offer-subtitle-accent{
    text-transform: uppercase;
}
.btn-sign-up{  
    padding: 14px 22px;
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    min-width: 276px;
    display: block;
}

.advantages-services {
}
.advantages-services-container{
   
}
.advantages-services-title{

    max-width: 675px;
}
.advantages-services-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    gap: 20px;
}
@media screen and (min-width: 768px) {  
    .advantages-services-list{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        cursor: pointer;
       
        flex-wrap: wrap;
    }
}


.advantages-wrap{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 185px; 
 }
.advantages-services-item {
    /* background: var(--secondary-text-color-theme-dark);
    border: 1px solid var(--additiomal-color-decor); */
    margin: 0 auto;
  
    background: var(--background-color-body-theme-light-secondary);
    border: 2px solid #f1f1f1;
    transition: border-color var(--timing-function);
}
.advantages-services-item:hover,
.advantages-services-item:focus{
    border: 2px solid var(--accent-color);
    transition: border-color var(--timing-function)
} 

.advantages-services-icon {
    fill: var(--additiomal-color-decor);   
    margin: 0 auto;
}
.text-body-advantages{
    padding-top: 26px;
    padding-bottom: 11px;    
}
.advantages-wrap::after{
    content: "";
    position: absolute;
    justify-content: center;  
    bottom:93px; 
    display: block;
    width: 140px;
    height: 2px;  
    border-radius: 1px;
    background-image: radial-gradient(rgba(0, 0, 0, 1), 
    rgba(243, 228, 228, 1),rgba(0, 0, 0, 0));  
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;    
    background-color: var(--background-color-body-theme-light-secondary);
    color: var(--primary-text-color-theme-light);
    width: 100%;
    height: 100%;   
    transform: translate(0,100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 18px; 
    z-index: 1;
    line-height: 28px;    
}

.advantages-services-item:hover .overlay,
.advantages-services-item:focus .overlay{
    transform: translate(0,0);
}

.marquee-conteiner{
    display: flex;
    align-items: center;
overflow: hidden;
}


.marquee{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 1.11;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #7A776C;
    white-space: nowrap;
    animation: marquee 10.5s infinite linear;

}
.marquee::after{
    content: "The main trend of recent years is natural beauty";

}
@keyframes marquee{
    0%{
        transform: translateX(0)
    }

    100% {
    transform: translateX(-50%)
    }
}
.services-prices-list{
    display: flex;
    flex-direction: column;    
    gap: 80px;
}
@media screen and (min-width: 768px) {  
    .services-prices-list{    
        gap: 100px;   
    
     
    }
}
  @media screen and (min-width: 1284px) {
    .services-prices-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;       
    }
}

.services-prices-content{
    margin-top: 37px;
    max-width: 442px;
    min-height: 353px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.services-prices-list-content{
    margin-top: 23px;
    margin-bottom: 35px;
}
.text-body-price{
    margin-bottom: 30px;
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
}
.text-body-item{
    list-style-type:disc;
    margin-left: 20px;

}
.text-body-item::marker{   
color: var(--accent-color);    
}
.img-price{
    width: 311px;
    height: 210px;
}
@media screen and (min-width: 768px) {  
    .img-price{
        width: 571px;
        height: 386px;
    }
}
  @media screen and (min-width: 1284px) {
    .img-price{
        width: 571px;
        height: 386px;
    }
}

.advantages-me-top{ 
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px) {  
    .advantages-me-top{ 
        flex-direction: column;
        align-items: center;
       
        
    }
}
  @media screen and (min-width: 1284px) {
    .advantages-me-top{ 
        flex-direction: row;
        align-items: flex-end;
    }
}


.advantages-me-right{  
    background: var(--background-color-body-theme-light-secondary); 
    padding-top: 70px; 

}
@media screen and (min-width: 1284px){
    .advantages-me-right{
        position: relative;
        right: 10%;
        bottom: 0;   
        background: var(--background-color-body-theme-light-secondary); 
        padding-top: 94px; 
    
    }
}

.advantages-me-title {
   text-align: center;
}

@media screen and (min-width: 1284px){
    .advantages-me-title {
        text-align: left;
     }  
  }
  .img-advantages-me{
    width: 311px;
    height: 390px;
  }
  @media screen and (min-width: 768px) {  
    .img-advantages-me{
        width: 504px;
        height: 632px;
      }
}
  @media screen and (min-width: 1284px) {
    .img-advantages-me{
        width: 576px;
        height: 722px;
      }
}



.materials-img-wrap,
.materials-right,
.materials-right-img{
    display: flex;
    gap: 12px;
}
.materials{
    padding-top: 150px;
    padding-bottom: 150px;
}
.materials-text{
    text-align: left;
}


.materials-right-img{ 
    flex-direction: column; 
    } 

@media screen and (max-width: 1283px){
    .materials-right-img{ 
      display: none; 
      }  
  }
.img-materials-one{
    width: 311px;
    height: 272px;
}
@media screen and (min-width: 768px) {  
    .img-materials-one{
        width: 586px;
        height: 514px;
    }
}
  @media screen and (min-width: 1284px) {
    .img-materials-one{
        width: 586px;
        height: 514px;
    }
}




.guarantee{
    margin: 0 auto;
    text-align: center;
    max-width: 482px;
}


.offer-form-photo-two{
    flex-direction: row-reverse;
}


.gallery-list{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.photogallery,
.videogallery{
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;

    
    
}

@media screen and (min-width: 768px) {  
    .photogallery,
    .videogallery{


        
    }
}
  @media screen and (min-width: 1284px) {
    .photogallery,
    .videogallery{
       
        flex-direction: row;

        
    }
}

.img-photogallery{
    width: 311px;
    height: 311px;
}
@media screen and (min-width: 768px) {  
    .img-photogallery{
        width: 378px;
        height: 378px;
    }
}
  @media screen and (min-width: 1284px) {
    .img-photogallery{
        width: 378px;
        height: 378px;
    }
}
.videogallery-video{
    width: 311px;
    height: 390px;
}
@media screen and (min-width: 768px) {  
    .videogallery-video{
        width: 311px;
        height: 390px;
    }
}
  @media screen and (min-width: 1284px) {
    .videogallery-video{
        width: 576px;
        height: 722px;
    }
}

.subtitle-gallery{
    display: block;
    width: 405px;
    flex-wrap: nowrap;
      font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);


}

.videogallery{
    margin-top: 45px;
}



.reviews-wrap{
    max-width: 845px;
    background-color: var(--background-color-body-theme-light-secondary);
    margin: 0 auto;
}

.reviews-content {
    display: flex;
    padding: 35px 54px;
    flex-direction: column;
    justify-content: left;
}

.reviews-photo-and-name{
    display: flex;
    margin-bottom: 28px;
    align-items: center;
}
.photo-client{
    margin-right: 40px;
}
.btn-sourse{
    width: 218px;
    margin: 30px 0 13px auto; 
     background-color: transparent;
     border: none;
     font-style: italic;
     font-weight: 400;
     font-size: 21px;
     line-height: 26px;
     color: var(--accent-color); 
 }
 .btn-sourse:hover,
 .btn-sourse:focus,
 .btn-sourse:hover .arrow-icon-right,
 .btn-sourse:focus .arrow-icon-right {
    color: var(--accent-color-hover-add);
    fill: var(--accent-color-hover-add);

 }
 .arrow-icon-right{
     fill: var(--accent-color);
 }
/* instagram */
 .instagram-container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;

 }
.instagram-list{ 

    width: 375px; 
    display: flex;
    align-items: center;   
    justify-content: start;
    width: 300px;
    gap: 26px;
    overflow-y: auto;
}
@media screen and (min-width: 768px) {  
    .instagram-list{   
        width: 768px;
        gap: 26px;       
        overflow-y: auto;
        
    }
}
  @media screen and (min-width: 1284px) {
    .instagram-list{    
        width: 1284px;
        gap: 26px;
        justify-content: center;
    }
}


.instagram-link{      
    padding: 12px 21px;
    gap: 12px;
    font-family: 'Montserat';
    font-size: 14px;
    line-height: 20px;
    color: var(--accent-color);
    border: 1px solid var(--add-color-three);
    display:inline-block;
    margin-top: 60px;    
}
.instagram-link:hover{
color: var(--accent-color-hover-add);
border: 1px solid var(--accent-color-hover-add);
}

/* answers */
.answers{
    background-image:linear-gradient(rgba(0, 0, 0, 0.77),rgba(0, 0, 0, 0.77)),  url("../images-en/answer-min.png"); 
}
.answers-container{
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--primary-text-color-theme-dark);
    /* max-width: 1000px;  */
    margin-top: 100px;   
}
.answers-item{
    margin-top: 70px;
}
.question-wrap {
    border-bottom: 1px solid var(--primary-text-color-theme-dark);
   
    position: relative;
    margin-bottom: 1px;
   
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {  
    .question-wrap {
      
      }
}
  @media screen and (min-width: 1284px) {
    .question-wrap {
        
      }
}
.subtitle-question{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: var(--primary-text-color-theme-dark); 
}

@media screen and (min-width: 768px) {  
    .subtitle-question{
        font-size: 22px;
    }
}
  @media screen and (min-width: 1284px) {
    .subtitle-question{
        font-size: 30px;
    }
}







.answers-list-item{
    list-style-type:disc;
    margin-left: 20px;
}
.answers-list{    
    margin-top: 8px;   
}
.answers-list-item::marker{   
    color: #5b8381;    
}
#answer{
    background-color: var(--background-color-body-theme-light-third);   
    max-height: 0;
    overflow: hidden;   
    transition: max-height .40s;
    
}  

.answer-wrap > .text-body:not(:first-child){
    margin-top: 11px;
}
 
.answer-wrap{
    margin: 40px;
}
  .question-wrap input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }  
  .question-wrap label {
    position: relative;
    display: block;    
    background: transparent;
    line-height: 3;
    cursor: pointer;
      
  }

  /* :checked */
  .question-wrap input:checked ~ #answer {
    max-height: 100vh;
  }  
  /* Icon */
  .question-wrap label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .40s;
    -o-transition: all .40s;
    transition: all .40s;
  }
  .question-wrap input[type=checkbox] + label::after {
    content: "+";
  }
  .question-wrap input[type=radio] + label::after {
    content: "\25BC";
  }
  .question-wrap input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .question-wrap input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }


















.footer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.97),rgba(0, 0, 0, 0.97)),  url("../images-en/answer-min.png"); 

}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;   
    padding-top: 50px;
    padding-bottom: 50px;
}
@media screen and (min-width: 768px) {  
    .footer-container{
        justify-content: start;
        align-items: start;
       flex-direction: row;
        justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
  @media screen and (min-width: 1284px) {
    .footer-container{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.footer-part-one,
.footer-navigation{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn-footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--primary-text-color-theme-dark);
    background-color: transparent;
    border: 2px solid var(--primary-text-color-theme-dark);
    display: block;
}
.social-list-icon{
    stroke: var(--primary-text-color-theme-dark)
}
.is-hidden{
    display: none;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footer-contact-link,
.menu-link-footer{
    text-decoration: none;
    color: var(--primary-text-color-theme-dark);  
}

.footer-contact-item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-link-footer{


}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-link-footer:hover,
.footer-contact-link:hover ,
.menu-link-footer:focus,
.footer-contact-link:focus,
.social-list-link:hover
{
    color: var(--accent-color-hover);
    fill: var(--accent-color-hover);


}


.footer-contact-link:hover .social-list-link{
    fill: var(--accent-color-hover);
}



.map{
    width: 311px;
    height: 311px;
}
@media screen and (min-width: 768px) {  
    .map{
        width: 400px;
        height: 480px;
       
    }
}
  @media screen and (min-width: 1284px) {
    .map{
        width: 808px;
        
    }
}



/*==========MODAL WINDOW/==========*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;   
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 522px;
    height: 615px;      
    background: var(--background-color-body-theme-light-secondary);
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),  url("../images-en/forn-img-min.png");
      
    transition: transform var(--timing-function);
    padding: 13px;
    margin-top: 96px;
}
.modal-frame{
    width: 100%;
    height: 100%;
   border: 2px solid var(--additiomal-color-decor);
  
}
.modal-close-btn{
    position: absolute;
    top: 26px;
    right: 26px; 
    padding: 0;
    background-color: transparent;
    border-color: transparent;   
    transition: background-color var(--timing-function), fill var(--timing-function);
}

.modal-close-btn-icon{
    transition: fill var(--timing-function);
}
.modal-close-btn-icon{
    fill: var(--background-color-body-theme-light-third);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
    fill: var(--additiomal-color-decor);
}
.title-aplication {
    text-align: center;
    margin: 64px 100px 0;
    text-transform: uppercase;
    
}

.decor-line{ 
    width: 280px;
    margin: 20px auto 0;  
    height: 2px;  
    border-radius: 1px;
    background-image: radial-gradient(rgba(0, 0, 0, 1), 
    rgba(243, 228, 228, 1),rgba(0, 0, 0, 0));  
}


/*==========MODAL WINDOW/==========*/
/*==========MODAL FORM/==========*/
.form-title{    
   
    font-size: 26px;
    line-height: 28px;
    text-align: center;    
    color: var(--primary-text-color-theme-light);
    width: 384px;
    margin: 30px auto 0; 

}
.modal-form{

}
.labels-wrap{
    margin-bottom: 70px;
    margin-top: 30px;
}
.labels-wrap-back-call{
    margin-bottom: 90px;
    margin-top: 60px;

}
.modal-form-field{
    margin-bottom: 8px;
}
.modal-form-input-wrap{
    display: block;
    position: relative;
    margin-right: 80px;
    margin-left: 80px;
    
}

.modal-btn{
    margin: 0 auto;
}
.user-polisy{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    margin-top: 60px;
    margin-left: 60px;
}
/*==========/MODAL FORM/==========*/

.text-modal-thanks{
   
    text-align: center;
    margin: 60px 100px auto;
}
.checkmark{
    background-color: var(--background-color-body-theme-light-third);
    border-radius: 50%;
    margin: 68px auto 0;
    padding-top: 0;
    padding-bottom: 60px;
    padding-left: 20px;

    
}
.modal-frame-thanks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*pagination*/
.pagination-wrap{
    margin-bottom: 32px;
    display: flex;
    gap: 13px;
}
@media screen and (min-width:768px) {
    .pagination-wrap{
        display: none;      
    }
}
.pagination-active{
    background-color: var(--accent-color);
    border-radius: 6px;
    width: 28px;
    height: 13px;
}
.pagination{
    background: var(--additiomal-color-decor);
    border-radius: 100%;    
    width: 13px;
    height: 13px;
}