@font-face {
  font-family: STSong;
  src: url(../fonts/chinese.stsong.ttf);
}
@font-face {
  font-family: Andrade Pro Italic;
  src: url(../fonts/Andrade\ Pro\ Italic.otf);
}

:root {
  /* --accent-color: #df815b;
  --accent-color-hover: #e77447; */
  --accent-color: #15100d;
  --accent-color-hover: #000000;
  --accent-color-click: #ffbb5c;

  --primary-text-color-theme-light: #15100d;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #522a27;

  --secondary-text-color-theme-dark: #e7e9fc;

  --background-color-body-theme-light: #ffffff;
  --background-color-body-theme-light-secondary: #f2ece9;
  --background-color-body-theme-light-third: #d9ebea;

  --background-color-body-theme-dark: #2e2f42;

  --additiomal-color: #f4f4fd;
  --additiomal-color-decor: #6d6064;
  --add-color-three: #837569;

  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Inter", sans-serif;
  color: var(--primary-text-color-theme-light);
  background-color: var(--background-color-body-theme-light);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: none;
}
.container {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}
.section {
}
.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}

.offer-container,
.gallery-container,
.instagram-container,
.footer-container,
.advantages-container {
  background: var(--background-color-body-theme-light-secondary);
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
/*text*/
.heading {
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 126%;
  letter-spacing: 0.05em;
}

/* .heading-accent,
.title-accent {
  font-family: "Andrade Pro Italic";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  color: var(--secondary-text-color-theme-light);
} */

.title-accent:not(.title-accent > .about-left) {
  text-align: center;
}

.title,
.title-accent {
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  line-height: 45px;
}
.quote {
  font-style: italic;
  font-size: 25px;
  line-height: 39px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 587px;
  text-align: center;
  margin: 0 auto;
  color: var(--background-color-body-theme-dark);
}
.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
}
.about-subtitle {
}
.about-title {
  margin-bottom: 28px;
}
.about-text-body {
  margin-top: 18px;
  margin-bottom: 40px;
  position: relative;
}

.title-wrap {
  position: relative;
  margin-bottom: 80px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.text-body {
  font-size: 20px;
  line-height: 31px;
}
.text-header,
.text-footer {
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-text-color-theme-light);
  text-decoration: none;
}

/*header*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color-body-theme-light);
  position: fixed;
  z-index: 100;
}
.container {
}
.header-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.navigation-header {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: var(--primary-text-color-theme-light);
}
.logo-header {
  margin-right: 301px;
}

.menu {
  display: flex;
  gap: 80px;
  margin-left: auto;
}

.menu-link-header,
.menu-link-footer {
  color: var(--primary-text-color-theme-light);
  text-decoration: none;
  padding: 5px 10px;
}

.menu-link-header:hover,
.menu-link-header:focus {
  color: var(--accent-color-hover);
  text-decoration: underline;
}
.menu-link-footer:hover,
.menu-link-footer:focus {
  text-decoration: underline;
}

.language-select {
  display: flex;
  gap: 14px;

  /* border: none;
    border-radius: 2px; */
  cursor: pointer;
  transition: color var(--timing-function);
  margin-right: 30px;
}
.language-pl {
  text-decoration: none;
  color: var(--primary-text-color-theme-light);
}
.language-pl::after {
  content: "";
  position: relative;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-text-color-theme-light);
}

.language-en {
  text-decoration: none;
  color: var(--add-color-three);
}
.language-en:hover {
  color: var(--accent-color-hover);
}

.language-en::after {
  content: "";
  position: relative;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0;
}
.language-en:hover::after {
  background-color: var(--accent-color-hover);
  opacity: 1;
}

.btn-call,
.btn-offer,
.btn-sign-up,
.instagram-link,
.more {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 12px 21px;
  gap: 12px;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 15px;
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-text-color-theme-dark);
}
.more {
  border-radius: 5px;
  font-style: italic;
  color: var(--accent-color);

  background: none;
}

.btn-call {
  padding: 8px 15px;
  color: var(--accent-color);
  background: var(--background-color-body-theme-light);
  border: 1px solid var(--accent-color);
}

.icon-call {
  stroke: var(--accent-color);
  fill: transparent;
}

.instagram-link {
  width: 193px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.btn-answers {
  border: none;
  background-color: transparent;
  border-radius: 50px;
  margin: 2px;
  width: 30px;
  height: 30px;
  align-self: flex-end;
}
.btn-answers-up {
}
.arrow-icon {
  fill: var(--accent-color);
  margin: auto;
}

.btn-call:hover,
.btn-offer:hover,
.btn-sign-up:hover,
.instagram-link:hover,
.btn-call:focus,
.btn-offer:focus,
.btn-sign-up:focus,
.instagram-link:focus,
.btn-call:hover .icon-call,
.btn-call:focus .icon-call {
  background-color: var(--accent-color-hover);
  border-color: var(--accent-color-hover);
  stroke: var(--accent-color-hover);
  fill: var(--accent-color-hover);
  color: var(--primary-text-color-theme-dark);
  fill: var(--background-color-body-theme-light);
}

.more:hover,
.more:hover .arrow-icon {
  border-color: var(--accent-color-hover);
}

.btn-call:active,
.btn-offer:active,
.btn-sign-up:active,
.instagram-link :active,
.btn-answers:active,
.btn-call:active .icon-call {
  background: var(--accent-color-hover);
  color: var(--primary-text-color-theme-dark);
  border-color: var(--accent-color-hover);
  stroke: var(--background-color-body-theme-light);
  fill: var(--background-color-body-theme-light);
}

.btn-answers:hover,
.btn-answers:focus {
  background: var(--additiomal-color);
}

/*hero*/
.hero {
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  /*background-image:linear-gradient(rgba(240, 235, 231, 0.1),rgba(240, 235, 231, 0.1)), url(/images/girl-face-1-min.png);*/
  position: relative;
  /* padding-bottom: 161px; */
  padding-top: 201px;
  width: 351px;
}

.heading-one {
  position: relative;
  left: 0px;
}

.heading-two {
  position: relative;
  left: 0px;
  /* top: 11px; */
  width: 510px;
}
.heading-three {
  position: relative;
  left: 0px;
  width: 510px;
  margin-bottom: 90px;
}

.hero-right {
  position: relative;
  z-index: -1;
}

.background-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 938px;
  height: 750px;
  border-radius: 5px;
  background-color: var(--background-color-body-theme-light-secondary);
  z-index: -2;
}

.img-hero {
  border-radius: 5px;
  /* background-image:linear-gradient(rgba(240, 235, 231, 1),rgba(240, 235, 231, 1)),  url("../images/girl-face-1-min.png"); */
}
.btn-offer {
}
/*about*/
.about {
}
.about-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.about-left {
  display: flex;
  flex-direction: column;
  align-items: start;

  max-width: 577px;
}
.about-left-text {
  /* margin-left: 30%; */
}
.quote > .text-body {
  text-align: center;
}
#more {
  display: none;
}
.arrow-icon-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; /* Расстояние между текстом и иконкой */
}

.invitation-container {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
    url("../images/work-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 50px;
}

/*advantages-services*/
.advantages-services {
}
.advantages-services-list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.advantages-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 191px;
}
.advantages-services-item {
  /* background: var(--secondary-text-color-theme-dark);
    border: 1px solid var(--additiomal-color-decor); */
  border-radius: 5px;
  background: var(--background-color-body-theme-light);
  border: 1px solid var(--accent-color);
}

.advantages-services-icon {
  fill: var(--additiomal-color-decor);
  margin: 0 auto;
}
.text-body-advantages {
  padding-top: 26px;
  padding-bottom: 11px;
}
.advantages-wrap::after {
  content: "";
  position: absolute;
  justify-content: center;
  bottom: 93px;
  display: block;
  width: 140px;
  height: 2px;
  border-radius: 1px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 1),
    rgba(243, 228, 228, 1),
    rgba(0, 0, 0, 0)
  );
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color-hover);
  color: var(--primary-text-color-theme-dark);
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 18px;
  z-index: 1;
  line-height: 28px;
}

.advantages-services-item:hover .overlay,
.advantages-services-item:focus .overlay {
  transform: translate(0, 0);
}
/*services-prices*/

.services-prices {
}
.container {
}
.title {
}
.services-prices-list {
  display: flex;
  flex-direction: column;
}

.services-prices-list-content {
  margin-top: 25px;
  margin-bottom: 30px;
}

.text-body-list {
  position: relative;
}

.text-body-list::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #78a1a5;
  background-color: #a5d6da;
  position: absolute;
  left: -22px;
  top: 10px;
}
.list {
}

.services-prices-eyelashes,
.services-prices-eyebrows {
  display: flex;
}
.services-prices-eyebrows {
  justify-content: end;
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.services-prices-eyebrows {
}

.services-prices-left {
  margin-left: 58px;
  width: 508px;
}

.text-body {
}
.text-body-price {
  margin-right: 48px;
}
.btn-sign-up {
}
.pice-and-btn {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

/*offer*/
.offer {
}

.offer-wrap {
  position: relative;
  border: 2px solid #cec8b6;
  border-radius: 5px;
  padding-top: 33px;
  padding-bottom: 33px;
  border-color: #7e7575;
}

.offer-container {
  padding-left: 155px;
  padding-right: 155px;
  background-color: var(--background-color-body-theme-light-third);
}

.offer-form-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-left {
  margin-right: 119px;
  width: 353px;
}
.offer-subtitle {
  margin-bottom: 70px;
  font-size: 22px;
  font-weight: 600;
  line-height: 155.52%;
  color: var(--background-color-body-theme-dark);
}

.offer-subtitle-accent {
  border: 1px solid var(--accent-color-hover);
  border-radius: 5px;
}
.offer-label-wrap {
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 56px;
}

.offer-form {
  width: 276px;
}

.offer-input {
  width: 100%;
  height: 40px;
  font-family: Inter;
  border: 1px solid var(--background-color-body-theme-dark);
  border-radius: 4px;
  background-color: var(--additiomal-color);
  transition: border-color var(--timing-function);

  outline: none;

  color: var(--primary-text-color-theme-light);
  padding: 0 16px;
}
.offer-input:focus {
  border-color: var(--accent-color);
}

.offer-input::placeholder {
  font-size: 15px;
  color: #7e7575;
  margin-left: 10px;
  margin-right: 10px;
}

.offer-input-wrap {
  display: inline-block;
  width: 100%;
}
.offer-input:not(:focus):not(:placeholder-shown):valid {
  border-color: green;
}
.offer-input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}
.text-offer-olia-liashevska {
  position: absolute;
  bottom: 87px;
  left: 0px;
  font-family: "STSong";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #b9d1d0;
  transform: rotate(-90deg);
}

.text-offer-discount {
  position: absolute;
  top: 40%;
  right: -68px;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #b9d1d0;
  transform: rotate(-90deg);
}

/*advantages-me */

.advantages-me {
}
.title-accent-advantages-me {
  border: 1px solid var(--accent-color-hover);
  border-radius: 5px;
}
.advantages-me-list {
  margin-left: 332px;
}

.advantages-me-text:not(:last-child) {
  margin-bottom: 76px;
}

.advantages-me-text:last-child {
  margin-bottom: 238px;
}

.advantages-me-text:nth-child(2) {
  margin-left: 56px;
}

.advantages-me-text:nth-child(4) {
  margin-left: 125px;
}

.advantages-me-container {
  position: relative;
}

.advantages-me-img-wrap {
  display: flex;
}

.advantages-me-img {
  position: absolute;
}

.advantages-me-img-1 {
  top: 337px;
  left: 0;
}

.advantages-me-img-2 {
  top: 147px;
  right: 143px;
}

.advantages-me-img-3 {
  top: 638px;
  left: 29px;
}

.advantages-me-img-4 {
  top: 452px;
  right: 0;
}

.advantages-me-img-5 {
  top: 748px;
  right: 302px;
}

/*gallery*/
.gallery {
}
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.gallery-item {
}
/*reviews */
.reviews {
}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-wrap {
  max-width: 758px;
  border: 1px solid #cec8b6;
  border-radius: 5px;
  margin: 0 auto;
}

.reviews-content {
  margin: 35px 54px;
}

.reviews-photo-and-name {
  display: flex;
  margin-bottom: 28px;
  align-items: center;
}
.photo-client {
  margin-right: 40px;
}
/*instagram */
.instagram {
}
.instagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.instagram-item {
}

/*answers*/

.spoiler {
  cursor: pointer;
  outline: 1px solid var(--accent-color);
  border-radius: 50px;
  padding: 25px 35px;
  height: 100%;
}

.spoiler-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spoiler-content:first-child {
  padding-top: 50px;
  /* white-space: pre-line; */
}
.spoiler-title-button {
  transition: transform 0.5s ease-in-out;
}

.spoiler.show .spoiler-title-button {
  transform: rotateZ(180deg);
}

.spoiler-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}

.spoiler-content::before {
  content: "";
  position: relative;
  left: 0;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--background-color-body-theme-light-third);
}
.spoiler.show .spoiler-content {
  max-height: 100%;
  overflow-y: auto;
}

.answers {
}
.answers-list {
  max-width: 840px;
  margin: 0 auto;
}

.answers-item:not(:last-child) {
  margin-bottom: 42px;
}

.arrow-icon-link {
  width: 14px;
  height: 20px;
}

/*footer*/
.footer {
}

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-body-theme-light-third);
}

.footer-navigation {
  display: flex;
}

.footer-list {
  margin-left: 156px;
}

.text-footer:not(:last-child) {
  margin-bottom: 15px;
}

.social-list-link {
  display: flex;
  align-items: center;
  transition: background-color var(--timing-function);
  margin-right: 16px;
}
.social-list-icon {
  stroke: var(--primary-text-color-theme-light);
  fill: transparent;
}

.social-list-link:hover,
.footer-contact-link:hover + .social-list-link {
}

.footer-contact-link:hover {
  color: #2e2f42;
}

.footer-contact-item {
  display: flex;
  align-items: center;
}
.footer-contact-item:not(:last-child) {
  margin-bottom: 30px;
}

/*==========MODAL WINDOV/==========*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--timing-function);
}

.modal-close-btn {
  position: absolute;
  top: 25px;
  right: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color var(--timing-function),
    fill var(--timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color-hover);
}
.modal-close-btn-icon {
  transition: fill var(--timing-function);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--primary-text-color-theme-dark);
}

.pagination-wrap {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.pagination-active {
  background-color: #df815b;
  border-radius: 6px;
  /* border: 1px solid var(--background-color-body-theme-dark); */

  width: 28px;
  height: 13px;
}
.pagination {
  background-color: #dbb6a7;
  border-radius: 100%;

  width: 13px;
  height: 13px;
}
